.page {
    // .page__reset

    &__reset {
    }
}
.reset-pass {
    // .reset-pass__container

    &__container {
        @extend .sign-in__container;
    }

    // .reset-pass__image

    &__image {
        @extend .sign-in__image;
    }

    // .reset-pass__body

    &__body {
        @extend .sign-in__body;
    }

    // .reset-pass__title

    &__title {
        @extend .sign-in__title;
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
    }

    // .reset-pass__text

    &__text {
        font-weight: 500;
        color: rgba(102, 102, 102, 0.8);
        line-height: 1.2;
        max-width: toRem(461);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 30);
        }
    }

    // .reset-pass__form

    &__form {
    }
}
.form-reset {
    // .form-reset__wrapper

    &__wrapper {
        @extend .form-sign__wrapper;
    }

    // .form-reset__header

    &__header {
        @extend .form-sign__header;
    }

    // .form-reset__label

    &__label {
        @extend .form-sign__label;
    }

    // .form-reset__input

    &__input {
        @extend .form-sign__input;
        color: $purpleColor;
        &:focus-visible {
            color: $purpleColor;
            border-color: $purpleColor;
            outline: none;
            background-color: rgba(102, 32, 193, 0.03);
        }
    }

    // .form-reset__error-msg

    &__error-msg {
        @extend .form-sign__error-msg;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 30);
        }
    }

    // .form-reset__send

    &__send {
        padding: toRem(16) toRem(63);
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
    }

    // .form-reset__login

    &__login {
        @extend .form-sign__create;
    }
}
